/* Footer */

.slide > footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 25px var(--slide-side) 25px;
    line-height: 1em;
    color: var(--color-white);
    background-color: var(--color-green);
    transition: transform 0.3s linear;
}

.slide > footer a {
    color: var(--color-white);
}


/* List */

.shower.list .slide > footer {
    transform: translateY(100%);
}

.shower.list .slide.active > footer,
.shower.list .slide:hover > footer {
    transform: translateY(0);
}

